<% title "Banners" %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "banner_chart"
      },
      title: {
        text: "Clicks per day"
      },
      xAxis: {  
        type: "datetime",
        labels: {
          formatter: function() {
           return Highcharts.dateFormat("%b %e, %Y", this.value);
          }
        }
      },
      yAxis: {
        title: {
          text: "Number of Clicks"
        }
      },
      tooltip: {
        formatter: function() {
          return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' + 
                 Highcharts.numberFormat(this.y, 0) + ' clicks';
        }
      },
      series: [{
        name: 'Clicks',
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 1.week.ago.to_i * 1000 %>,
        pointEnd: <%= Date.today.to_time.to_i * 1000 %>,
        //data: (1.week.ago.to_date..Date.today).map {|date| Click.total_on(date)}.inspect
        data: <%= click_series(Click, 1.week.ago.to_date) %>
      }]
    });
  });
</script>

<div id="banner_chart" style="width:400px; height: 200px;"></div>
<br />
<br />
<table>
  <tr>
    <th>Name</th>
    <th>Counter</th>
  </tr>
  <% for banner in @banners %>
    <tr>
      <td><%=h banner.name %></td>
      <td><%=h banner.counter %></td>
      <td><%= link_to "Show", banner %></td>
      <td><%= link_to "Edit", edit_banner_path(banner) %></td>
      <td><%= link_to "Destroy", banner, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Banner", new_banner_path %></p>
