<% title "Banner" %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "banner_chart"
      },
      title: {
        text: "Clicks per day"
      },
      xAxis: {  
        type: "datetime",
        labels: {
          formatter: function() {
           return Highcharts.dateFormat("%b %e, %Y", this.value);
          }
        }
      },
      yAxis: {
        title: {
          text: "Number of Clicks"
        }
      },
      tooltip: {
        formatter: function() {
         return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' + 
                Highcharts.numberFormat(this.y, 0) + ' clicks';
        }
      },
      series: [{
        name: 'Clicks',
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 1.week.ago.to_i * 1000 %>,
        pointEnd: <%= Time.now.to_i * 1000 %>,
        //data: (1.week.ago.to_date..Date.today).map {|date| @banner.clicks.total_on(date)}.inspect
        data: <%= click_series(@banner.clicks, 1.week.ago.to_date) %>  
      }]
    });
  });
</script>

<div id="banner_chart" style="width:400px; height: 200px;"></div>
<br />
<br />
<p>
  <strong>Name:</strong>
  <%=h @banner.name %>
</p>
<p>
  <strong>Counter:</strong>
  <%=h @banner.counter %>
</p>

<p>
  <%= link_to "Edit", edit_banner_path(@banner) %> |
  <%= link_to "Destroy", @banner, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", banners_path %>
</p>
